/*
 * https://gitlab.com/jane314/deadname-b-gon
 */

img {
	float: left;
}

* {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;	
	background-color: rgb(255, 240, 240);/*rgb(242, 255, 204);*/
	color: black;
	line-height:1.3;
	padding-right: 5px;
}

#textinfo {
	margin-top: 3%;
	margin-left: 60px;
}

#text01 {
	margin-left: 60px;
}

.run {
	background-color: DarkGreen;
	color: white;
	font-weight: bold;
	/* border: 1px solid black; */
	margin-left: 1%;
	margin-right: 2%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.notrun {
	background-color: crimson;
	color: white;
	font-weight: bold;
	/* border: 1px solid black; */
	margin-left: 1%;
	margin-right: 2%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
}

	